<h2 class="text-xl font-bold">Tableau de bord Manager</h2>


<a routerLink="/manager/infos">Mon Profil</a>

@if (typeManager === 'global') {
  <div>
    <a routerLink="/manager/gestion-utilisateurs">Gérer les utilisateurs</a>
    <a routerLink="/manager/gestion-stock">Gérer le stock</a>
    <a routerLink="/manager/gestion-service">Gérer le service</a>
  </div>
}



@if (typeManager === 'client-mecanicien') {
  <a routerLink="gestion-rendez-vous">Gérer les rendez-vous</a>
  <a routerLink="gestion-mecaniciens">Suivi des mécaniciens</a>
  <button (click)="allerVersGestionMecaniciens()" class="cursor-pointer text-blue-600 underline">
  Suivi des mécaniciens
  </button>
}

<router-outlet></router-outlet>
